<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="csc591.bucketlistraleigh" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".view.AnimationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_animation"
            android:scaleType="centerCrop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".view.HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_home"
            android:scaleType="centerCrop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".view.FoodActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_food"
            android:scaleType="centerCrop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".view.DrinkActivity"
            android:label="@string/title_activity_drink"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".view.FingerPaintActivity"
            android:label="@string/title_activity_drink"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".view.FunActivity"
            android:label="@string/title_activity_fun"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".view.AuthActivity"
            android:label="@string/title_activity_auth_" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.BuildingImageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".view.BuildingReviewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="bucketlistraleigh" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.ReviewActivity"
            android:label="@string/title_activity_review"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
    </application>

</manifest>
